<div class="container">

  <div class="jumbotron">
    <h1>Eat Der Burger</h1>

    <form class="create-form">

      <div class="form-group">
        <input type="text" id="burger" name="burger_name">
      </div>

      <button type="submit" class="add-burger btn-info">Add a burger</button>

    </form>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <h3>Waiting Area</h3>

        {{!-- <ul> --}}
          <p>
          {{#each burger}}
          {{#unless devoured}}

            <h4>{{burger_name}}</h4>
            {{!-- <h4>Devoured? {{this.devoured}}</h4> --}}
            <button class="devour btn-primary" data-id="{{this.id}}">Devour</button>
            <button class="delete btn-danger" data-id="{{this.id}}">Delete</button>

          {{/unless}}
          {{/each}}

        {{!-- </ul> --}}
        </p>
      </div>

      <div class="col-md-6">
        <img src="/assets/img/burger.png" alt="burger" id="picture">
      </div>

      <div class="col-md-3">

        <h3>Destroyed</h3>

        <p>
          <strike>

          {{#each burger}}
          {{#if devoured}}

            <h4>{{burger_name}}</h4>
            {{!-- <h4>Devoured? {{this.devoured}}</h4> --}}
            <button class="regret btn-warning" data-id="{{this.id}}">Regret?</button>

          {{/if}}
          {{/each}}
          </strike>
        </p>

      </div>
    </div>

  </div>
</div>